@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Lobster&family=Luxurious+Roman&family=Moon+Dance&family=Neonderthaw&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@200&family=PT+Sans+Narrow:wght@400;700&family=Roboto+Slab:wght@100&family=Roboto:wght@100&family=The+Nautigal&display=swap');
div{
    width: 24%;
    background-color: aquamarine;
    border: rgb(221, 113, 113) 1px solid;
    float: left;
    border-radius: 10px;
}
img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
h4{
    text-align: center;
}
p{
    font-family: 'Lobster', cursive;
    font-size: 100%;
}